@page
@model Team_MegaDesk.Pages.Quotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Customer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Shipping)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Shipping)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Drawers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Drawers)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Material)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Material)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quote.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quote.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Quote.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
